$bodyBg: #F3F4FA;
$mainBg: #fff;
$mainColor: #5271FF;
$mainColorSmall: #fff;
$txtColor: #5f5f5f;
$purple: #8624DB;
$orange: #FF9066;
$white: #fff;
$black: #000;
$green: #2a9f2d;
$red: #bf261b;
$light-grey: #bdbdbd;

$prim-blue: #5271FF;
$sec-blue: #00FFFF;
$sec-red: #FF0000;

$fontFamily: 'Roboto', sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 300px;
$sideBarRightWidth: 350px;
$sideBarLogoHeight: 171px;
$spacing: 40px;
$spacingSideBar: 15px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;
